<!-- ##css_start## -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
<style>
    @-webkit-keyframes scrollUp {
        from {
            margin-top: 12rem;
        }

        to {
            margin-top: -255rem;
        }
    }

    @-moz-keyframes scrollUp {
        from {
            margin-top: 12rem;
        }

        to {
            margin-top: -255rem;
        }
    }

    @keyframes marquee {
        0% {
            transform: translate(0, 0);
        }

        100% {
            transform: translate(-100%, 0);
        }
    }
</style>
<!-- ##css_end## -->

<!-- ##html_start## -->
<section data-background-$$background_type$$="$$background$$" data-background-video-muted
    data-background-video-loop="loop" data-paused-by-reveal="false" data-autoplay style=" height: 100%; width: 100%;"
    data-autoanimate data-autoslide="1">
    <div style="$$background_style$$; width: 110%; height: 110%; top: -5%; left:-5%; position: fixed;  ">
    </div>
    <div data-autoslide="1" class="fragment"></div>

    __overlay_elements_html__


    <div data-autoslide="$$slide_duration$$" class="fragment"></div>
</section>
<!-- ##html_end## -->

<!-- ##js_start## -->
<script>
    let anime_timeline2 = anime.timeline({ loop: true });
    let anime_timeline3 = anime.timeline({ loop: true });
    let anime_timeline4 = anime.timeline({ loop: true });
    let anime_timeline5 = anime.timeline({ loop: true });
    let anime_timeline6 = anime.timeline({ loop: true });
    let anime_timeline7 = anime.timeline({ loop: true });
    let anime_timeline8 = anime.timeline({ loop: true });
    let anime_timeline9 = anime.timeline({ loop: true });
    let anime_timeline10 = anime.timeline({ loop: true });
    

    // these animations will run from second slide
    Reveal.on('slidechanged', event => {
        // Animation 2
        bubble_animation();
        anime_timeline2.restart();
    });

    Reveal.on('fragmentshown', event => {
        var d = new Date();
        console.log("fragment: ", d.toLocaleString());
    });

    function bubble_animation(is_first_call = false) {
        var d = new Date();
        console.log("slide start: ", d.toLocaleString());
    }

    bubble_animation(is_first_call = true);
    
    anime_timeline2.add({
        targets: '.up-down-element',
        rotate: {
            value: 360,
            duration: 1800,
            easing: 'easeInOutSine'
        },
        scale: {
            value: 1.3,
            duration: 10000,
            easing: 'easeInOutQuart'
        },
    });

    anime_timeline3.add({
        targets: '.left-right-animation',
        translateX: -500,
        duration: 10000,
        direction: 'alternate',
        loop: true,
        easing: 'easeInOutSine'
    });

    // move left to right and right to left
    anime_timeline4.add({
        targets: '.right-left-animation',
        translateX: 50,
        duration: 1000,
        direction: 'alternate',
        loop: true,
        easing: 'easeInOutSine'
    }).add({
        targets: '.right-left-animation',
        translateX: 0,
        duration: 1000,
        direction: 'alternate',
        loop: true,
        easing: 'easeInOutSine'
    });

    anime_timeline5.add({
        targets: '.top-bottom-animation',
        translateY: -300,
        duration: 10000,
        direction: 'alternate',
        loop: true,
        easing: 'easeInOutSine'
    });

    anime_timeline6.add({
        targets: '.bottom-top-animation',
        translateY: 300,
        duration: 10000,
        direction: 'alternate',
        loop: true,
        easing: 'easeInOutSine'
    });


    // zoom in then zoom out in loop, use chain method
    anime_timeline7.add({
        targets: '.zoom-in-out-animation',
        scale: 1.5,
        duration: 5000,
        direction: 'alternate',
        loop: true,
        easing: 'easeInOutSine'
    }).add({
        targets: '.zoom-in-out-animation',
        scale: 1,
        duration: 5000,
        direction: 'alternate',
        loop: true,
        easing: 'easeInOutSine'
    });

    // shake animation, shake only 10 times
    anime_timeline8.add({
        targets: '.shake-animation',
        translateX: 5,
        duration: 30,
        direction: 'alternate',
        loop: true,
        easing: 'easeInOutSine'
    }).add({
        targets: '.shake-animation',
        translateX: -5,
        duration: 30,
        direction: 'alternate',
        loop: true,
        easing: 'easeInOutSine'
    });
    
    // marquee animation
    anime_timeline9.add({
        targets: '.marquee',
        translateX: -500,
        duration: 10000,
        direction: 'alternate',
        loop: true,
        easing: 'easeInOutSine'
    });

    // bounce animation
    anime_timeline10.add({
        targets: '.bounce-animation',
        translateY: -50,
        duration: 1000,
        direction: 'alternate',
        loop: true,
        easing: 'easeInOutSine'
    }).add({
        targets: '.bounce-animation',
        translateY: 0,
        duration: 1000,
        direction: 'alternate',
        loop: true,
        easing: 'easeInOutSine'
    });
    
    

</script>
<!-- ##js_end## -->